.App {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 100px 100px 299px 140px;
  width: 50%;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 200px auto;
}

.card {
  width: 20vw;
  margin: 25px;
}

.card-list {
  list-style: none;
}

.about-container {
  margin: 50px 30px 155px 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
  list-style: none;
}

.text-gray {
  color: black;
  background-color: rgb(239, 236, 245);
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.product-container {
  margin: 50px;
}

.img {
 margin-left: 100px;
}
.product-paper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.inv-button {
  box-shadow: 5px 5px 5px black;
  margin: 20px 140px ;
  width: fit-content;
  cursor: pointer !important;
}

.link-category {
  background-color: #5ca383 !important;
  cursor: pointer !important;
  font-weight: bolder;
  box-shadow: 5px 5px 5px grey;
}

.link-type {
  background-color: #5ca383 !important;
  margin: 10px 0 10px;
  cursor: pointer !important;
  font-weight: bolder;
  box-shadow: 5px 5px 5px grey;
}

.box-input {
  width: fit-content;
  margin-left: 110px;
}